<div class="dashboard-page">



  <section class="hero">
    <div class="hero-text">
      <span class="badge">Nueva temporada gamer</span>
      <h1>Equipa tu mundo tecnológico</h1>
      <p>
        Encuentra laptops, tarjetas gráficas, monitores y accesorios para llevar tu experiencia al siguiente nivel.
      </p>

      <div class="hero-actions">
        <a routerLink="/productos" class="btn-primary-custom">Ver productos</a>
        <a routerLink="/carrito" class="btn-secondary-custom">Mi carrito</a>
      </div>
    </div>

    <div class="hero-card">
      <h3>Oferta destacada</h3>
      <p>RTX 4060 + Monitor Gamer</p>
      <strong>S/ 4500</strong>
      <span>Stock limitado</span>
    </div>
  </section>

  <section class="stats">
    <div class="stat-card">
      <h3>+50</h3>
      <p>Productos tecnológicos</p>
    </div>

    <div class="stat-card">
      <h3>24/7</h3>
      <p>Catálogo disponible</p>
    </div>

    <div class="stat-card">
      <h3>JWT</h3>
      <p>Seguridad integrada</p>
    </div>
  </section>

</div>
